<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Hello Spring Boot <span th:text="${name}"></span></h1>

<table>
    <tbody>
        <tr th:each = "book : ${list}">
            <td><span th:text="${book.isbn}"></span></td>
            <td><span th:text="${book.title}"></span></td>
            <td><span th:text="${book.author}"></span></td>
            <td><span th:text="${book.price}"></span></td>
        </tr>
    </tbody>
</table>

<h1>Hello Spring Boot <span th:text="${name}"></span></h1>
<h2 th:text="${count}"></h2>
<table>
    <tbody>
    <tr th:each="book : ${list}">
        <td><span th:text="${book.title}"></span></td>
        <td><span th:text="${book.author}"></span></td>
    </tr>
    </tbody>
</table>

</body>

</html>