<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>post writeform</title>
</head>
<body>
<h1>post writeform</h1>

<form method="post" action="/posts/write" enctype="multipart/form-data">
    이름 : <span th:text="${#authentication.principal.name}"></span><br>
    title : <input type="text" name="title"><br>
    content : <textarea name="content" cols="50" rows="5"></textarea><br>
    category : <select name="categoryId">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select><br>
    image1 : <input type="file" name="image"><br>
    image2 : <input type="file" name="image"><br>
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <input type="submit" value="join">
</form>

</body>
</html>